{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hubs_identity.css' %}">
    
    <title>{% block head_title %}Hubs&Clicks{% endblock %}</title>   
</head>

<body>
    {% include "_includes/_header.html" %}

    <div class="message-container" style="position: fixed; top: 90px; right: 20px; z-index: 2100; width: auto; max-width: 350px;">
        {% include "_includes/_messages.html" %}
    </div>

    <main class="container shadow-sm p-4 bg-white rounded" style="margin-top: 130px !important;">
        {% block page_title %}{% endblock %}
        
        {% block content %}
            <p>Aquí va el contenido base</p>
        {% endblock %}
    </main>

    {% include "_includes/_footer.html" %}

    <button type="button" class="btn btn-lg rounded-circle d-none shadow-lg" id="btn-back-to-top" 
      style="position: fixed; bottom: 20px; right: 20px; z-index: 2100; width: 55px; height: 55px; padding: 0; 
             background-color: #0b5961 !important; border: 2px solid #ffffff !important; 
             display: flex; align-items: center; justify-content: center;">
      <i class="bi bi-arrow-up text-white" style="font-size: 1.5rem;"></i>
    </button>

    {% include "_includes/_cookies_banner.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/likes.js' %}"></script>
    <script>
        // Este script también debe estar aquí para que el botón funcione
        const mybutton = document.getElementById("btn-back-to-top");

        window.onscroll = function () {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.classList.remove("d-none");
            } else {
                mybutton.classList.add("d-none");
            }
        };

        mybutton.addEventListener("click", () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>
    
    </body>
</html>