<header>
    <div class="container">
    <h1>Hubs&Clicks</h1>
    <h2>Comparte, descubre, disfruta</h2>
    <nav>
        <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        
        <li><a href="{% url 'profiles:profile_list' %}">Perfiles</a></li>
        
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% else %}  
        
        <li class="nav-item">
            <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link p-0 border-0 align-baseline shadow-none text-dark" 
                        style="text-decoration: none;">
                    Cerrar Sesión
                </button>
            </form>
        </li>
        <li><a href="{% url 'posts:post_create' %}">Crear Post</a></li>
        
        <li>
            <a href="{% if has_profile %}{% url 'profiles:profile' request.user.profile.pk %}{% else %}{% url 'profiles:profile_edit' %}{% endif %}">
                Mi Perfil
            </a>
        </li>

        <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'notifications:list' %}">
                <span class="position-relative d-inline-block">
                    <i class="bi bi-bell-fill {% if unread_notifications_count > 0 %}text-danger{% else %}text-dark{% endif %}" 
                    style="font-size: 1.25rem;"></i>
                    
                    {% if unread_notifications_count > 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-white" 
                            style="font-size: 0.5rem; padding: 0.15rem 0.3rem; border-width: 1.5px !important;">
                            {{ unread_notifications_count }}
                        </span>
                    {% endif %}
                </span>
            </a>
        </li>
       
        {% endif %}
        
        <li><a href="{% url 'contact' %}">Contacto</a></li>
        <li><a href="/legal/">Legal</a></li>
    </ul>
    </nav>
    </div>
</header>